<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<% @projects.each do |project| %>
  <div>
    ステータス: <%= project.project_status.name %>
  </div>
  <div>
    ニックネーム: <%= project.owner %>
  </div>
  <div>
    プロジェクト名: <%= project.title %>
  </div>
  <div>
    応援数: <%= project.cheered_count %>
  </div>
  <div>
    作成日: <%= project.created_at %>
  </div>
  <hr>

<% end %>
