
<%= link_to "新規プロジェクト作成", projects_new_path %>
<hr>

<% @projects.each do |project| %>
  <div>
    ステータス: <%= project.project_status.name %>
  </div>
  <div>
    ニックネーム: <%= project.owner %>
  </div>
  <div>
    プロジェクト名: <%= project.title %>
  </div>
  <div>
    応援数: <%= project.cheered_count %>
  </div>
  <div>
    作成日: <%= project.created_at %>
  </div>
  <hr>

<% end %>
